@import "mixin.scss";

.page-content{
  flex-basis: 320px;
  text-align: center;

  padding-top: 75px;

  background-image: url('../img/content-header-background-mobile.jpg');
  background-repeat: no-repeat;
  background-position: top;
}

.content-breadcrumbs {
  display: none;
}

.page-content__title{
  @include font-size(27px, 30px);
  padding: 0;
  margin: 0;
  padding-bottom: 120px;
}

@import "content-menu.scss";
@import "product-card.scss";
@import "about-us.scss";
@import "reviews.scss";
@import "contacts.scss";
@import "contacts.scss";

